<%- include("partials/header") %>
    
	<section class="hero" id="home">
        <div class="hero-content">
            <h1>Welcome to Our US Appointment Finder</h1>
            <p>We provide the services to help your fastest way to get your US Appointment Dates.</p>
           
        </div>
    </section>
	 
<%- include("partials/footer") %>
</body>
</html>
