* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    height: 20vh;
    display: inline;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
}

.hero-content {
    /* max-width: 600px; */
}

.cta-button {
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.about, .services, .contact {
    padding: 3rem 0;
    text-align: center;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card {
    background: #f4f4f4;
    padding: 2rem;
    margin: 1rem;
    flex-basis: calc(33% - 2rem);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.home-link{
    text-decoration: none;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    /* margin-bottom: 1rem; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    /* width: 50%; */
    padding: 0.5rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

align-center{
 text-align: center;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
