<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Appointment Dates</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/" class="home-link">US Appointment Dates</a></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/available-dates">Available Dates</a></li>
            </ul>
        </nav>
    </header>
	
	

   


